/* https://color.adobe.com/The-Color-of-Traffic-color-theme-2589902/ */

body {

   background-color: #ECDFBD;
}

hr {
   border-color: #ffffff;

}

#registration {
   margin-top: 30px;

}

#internRegister {
   margin-top: 30px;
}

input[type="text"],
input[type="password"]
 {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}


.top-bar {
}